{% extends "starlette_admin/base.html" %}

{% block content %}
<div class="container-fluid mt-header">
    {% include "starlette_admin/partials/breadcrumb.html" %}
    <h1 class="f-lite">Audit Log Entry</h1>
    <div class="row">
        <div class="col-12 col-lg-9">
            {% if diff %}
                <table class="table table-headed">
                    <tbody>
                        <tr>
                            <td style="width: 33.3%"></td>
                            <td style="width: 33.3%">
                                {{ diff.operation }}<br>
                                <small>by {{ diff.created_by or "Unknown" }} on {{ diff.created_on.strftime('%d %b %Y at %H:%M') }}</small>
                            </td>
                            <td style="width: 33.3%">
                                {{ item.operation }}<br>
                                <small>by {{ item.created_by or "Unknown" }} on {{ item.created_on.strftime('%d %b %Y at %H:%M') }}</small>
                            </td>
                        </tr>
                        {% for key in items %}
                        <tr>
                            <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %} class="b-seashell">{{ key }}</td>
                            {% if diff.data.get(key, "-") != item.data.get(key, "-") %}
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}><span class="b-red c-white px-h">{{ diff.data.get(key, "-") or "-" }}</span></td>
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}><span class="b-olive c-white px-h">{{ item.data.get(key, "-") or "-" }}</span></td>
                            {% else %}
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}>{{ diff.data.get(key, "-") or "-" }}</td>
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}>{{ item.data.get(key, "-") or "-" }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% for key in extra_items %}
                        <tr>
                            <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %} class="b-seashell">{{ key }}</td>
                            {% if diff.extra_data.get(key, "-") != item.extra_data.get(key, "-") %}
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}><span class="b-red c-white px-h">{{ diff.extra_data.get(key, "-") or "-" }}</span></td>
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}><span class="b-olive c-white px-h">{{ item.extra_data.get(key, "-") or "-" }}</span></td>
                            {% else %}
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}>{{ diff.extra_data.get(key, "-") or "-" }}</td>
                                <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}>{{ item.extra_data.get(key, "-") or "-" }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>    
                </table>
            {% else %}
                <table class="table table-headed">
                    <tbody>
                        <tr>
                            <td style="width: 33.3%"></td>
                            <td>
                                {{ item.operation }}<br>
                                <small>by {{ item.created_by or "Unknown" }} on {{ item.created_on.strftime('%d %b %Y at %H:%M') }}</small>
                            </td>
                        </tr>
                        {% for key in items %}
                        <tr>
                            <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %} class="b-seashell">{{ key }}</td>
                            <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}>{{ item.data.get(key, "-") or "-" }}</td>
                        </tr>
                        {% endfor %}
                        {% for key in extra_items %}
                        <tr>
                            <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %} class="b-seashell">{{ key }}</td>
                            <td {% if loop.index == 1 %}style="border-top-width: 3px;"{% endif %}>{{ item.extra_data.get(key, "-") or "-" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>    
                </table>
            {% endif %}
        </div>
        <div class="col-12 col-lg-3">
            
            <div class="panel mt-0 b-seashell">
                <h3>Compare To Historic Changes</h3>
                <ul class="list-style-none mb-0">
                    {% for hist in item.prior_records %}
                        <li class="mb-h">
                            <a href="{{ url_for(url_names.audit_item_diff, item_id=item.id, diff_id=hist.id) }}">
                                {% if diff.id == hist.id %}<i class="pull-right icon-ok-circled c-olive"></i>{% endif %}
                                {{ hist.operation }}<br>
                                <small>{{ hist.created_on.strftime('%d %b %Y at %H:%M') }}</small>
                            </a>
                        </li>
                    {% else %}
                        <li class="muted">No older records to compare to ...</li>
                    {% endfor %}
                </ul>
                <hr>
                <h3>View Newer Changes</h3>
                <ul class="list-style-none mb-0">
                    {% for future in item.later_records %}
                        <li class="mb-h">
                            <a href="{{ url_for(url_names.audit_item_diff, item_id=future.id, diff_id=item.id) }}">
                                {{ future.operation }}<br>
                                <small>{{ future.created_on.strftime('%d %b %Y at %H:%M') }}</small>
                            </a>
                        </li>
                    {% else %}
                        <li class="muted">No newer records exist ...</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    

</div>
{% endblock %}