{% extends "starlette_admin/base.html" %}

{% block content %}
<div class="container-fluid mt-header">
    {% include "starlette_admin/partials/breadcrumb.html" %}
    <h1>Audit Log</h1>
    <table class="table table-headed">
        <thead>
            <tr>
                <th>Operation</th>
                <th>Created By</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
        {%- for item in object.auditlog -%}
            <tr>
                <td><a href="{{ url_for(url_names.audit_item, id=object.id, item_id=item.id) }}">{{ item.operation }}</a></td>
                <td>{{ item.created_by or "-" }}</td>
                <td>{{ item.created_on.strftime('%d %b %Y at %H:%M') }}</td>
            </tr>
        {%- endfor -%}
        </tbody>
        <tfoot>
            <tr>
                <td class="px-0 py-1h" colspan="3">
                    {{ object.auditlog|length }} record{% if object.auditlog|length != 1 %}s{% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}